__pycache__/
*/__pycache__/
*.py[cod]
.pytest_cache/
*.pyo
venv/
.env/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.env
.env.*
*.log
logs/
celerybeat-schedule
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.tox/
noxfile.py
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
instance/
*.db
*.sqlite3
.kiro
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini
.ipynb_checkpoints/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.python-version